/* Colors */
:root {
	--blue: #1E4391;
	--blue-darken: #0f3075;
	--blue-darken-2: #041e57;
	--red: #EF302B;
	--red-darken: #C0231F;
	--red-darken-2: #a00b08;
	--green: #219653;
	--dark: #222222;
	--white: #FFF;
	--black: #000;
}

/* Text sizes */
:root {
	--text-size: 16px;
	--header-1: calc(var(--text-size) * 3.25);
	--header-2: calc(var(--text-size) * 2.5);
	--header-3: calc(var(--text-size) * 1.5);
	--text-medium: calc(var(--text-size) * 1.5);
	--header-4: calc(var(--text-size) * 1.25);
	--subtitle: calc(var(--text-size) * 1.12);
	--header-5: calc(var(--text-size) * 0.9);
	--header-6: calc(var(--text-size) * 0.8);
	--small-text: calc(var(--text-size) * 0.85);
}

/* Sizes and paddings */
:root {
	--content-width: min(1520px, 90vw);
	--content-mobile-width: min(1520px, 84vw);
	--content-padding-x: min(5em, 6vw);
	--content-padding: 0 var(--content-padding-x);
}

@media screen and (max-width: 768px) {
	:root {
		--text-size: 14px;
		--header-1: calc(var(--text-size) * 2.5);
		--header-2: calc(var(--text-size) * 1.9);
	}
}

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	font-size: var(--text-size);
	color: #000000;
	background-color: #F6F6F6;
	overflow-x: hidden;
	overflow-y: auto;
}

body * {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

@media screen and (min-width: 769px) {
	.pc-hide {
	  	display: none !important;
	}
}

@media screen and (max-width: 768px) {
	.mobile-hide {
	  	display: none !important;
	}
}

.align-initial {
	text-align: initial;
}

.align-inherit {
	text-align: inherit;
}

.align-unset {
	text-align: unset;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

ul {
	padding-left: 1.5rem;
}

ul li {
	list-style-type: '–';
	padding-inline-start: 1ch;
}

.horizontal-scroll {
	overflow-x: auto;
	white-space: nowrap;
}

.horizontal-scroll > * {
	white-space: normal;
}

@media screen and (max-width: 768px) {
	.mobile-horizontal-scroll {
		overflow-x: auto;
		white-space: nowrap;
	}
	.mobile-horizontal-scroll > * {
		white-space: normal;
	}
}

p.medium {
	font-size: var(--text-medium);
}

p.subtitle {
	font-size: var(--subtitle);
	font-weight: 600;
}

p.small {
	font-size: var(--small-text);
}
