/* Colors */
:root {
	--blue: #1E4391;
	--blue-darken: #0f3075;
	--blue-darken-2: #041e57;
	--red: #EF302B;
	--red-darken: #C0231F;
	--red-darken-2: #a00b08;
	--green: #219653;
	--dark: #222222;
}

/* Text sizes */
:root {
	--text-size: 16px;
	--header-1: calc(var(--text-size) * 3.25);
	--header-2: calc(var(--text-size) * 2.5);
	--header-3: calc(var(--text-size) * 1.5);
	--text-medium: calc(var(--text-size) * 1.5);
	--header-4: calc(var(--text-size) * 1.25);
	--subtitle: calc(var(--text-size) * 1.12);
	--header-5: calc(var(--text-size) * 0.9);
	--header-6: calc(var(--text-size) * 0.8);
	--small-text: calc(var(--text-size) * 0.85);
}

/* Sizes and paddings */
:root {
	--content-width: min(1520px, 90vw);
	--content-mobile-width: min(1520px, 84vw);
	--content-padding-x: min(4em, 4vw);
	--content-padding: 0 var(--content-padding-x);
}

@media screen and (max-width: 768px) {
	:root {
		--text-size: 14px;
		--header-1: calc(var(--text-size) * 2.5);
		--header-2: calc(var(--text-size) * 1.9);
	}
}

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	font-size: 14px;
	color: #000000;
	background-color: #F6F6F6;
	overflow-x: hidden;
	overflow-y: auto;
}

body * {
	box-sizing: border-box;
}

body div {
	position: relative;
}

a {
	color: inherit;
	text-decoration: none;
}

div {
	position: relative;
}

.grid {
	display: grid;
	gap: 1em;
}

.gap-2 {
	gap: 2em !important;
}

.gap-3 {
	gap: 3em !important;
}

.grid-1 {
	grid-template-columns: repeat(1, 1fr);
}

.grid-1-2 {
	grid-template-columns: 1fr 2fr;
}

.grid-1-3 {
	grid-template-columns: 1fr 3fr;
}

.grid-1-4 {
	grid-template-columns: 1fr 4fr;
}

.grid-2 {
	grid-template-columns: repeat(2, 1fr);
}

.grid-2-1 {
	grid-template-columns: 2fr 1fr;
}

.grid-2-3 {
	grid-template-columns: 2fr 3fr;
}

.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}

.grid-3-1 {
	grid-template-columns: 3fr 1fr;
}

.grid-3-2 {
	grid-template-columns: 3fr 2fr;
}

.grid-3-4 {
	grid-template-columns: 3fr 4fr;
}

.grid-4-1 {
	grid-template-columns: 4fr 1fr;
}

.grid-4-3 {
	grid-template-columns: 4fr 3fr;
}

.grid-4 {
	grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
	grid-template-columns: repeat(5, 1fr);
}

.grid-5-1 {
	grid-template-columns: 5fr 1fr;
}

.grid-5-2 {
	grid-template-columns: 5fr 2fr;
}

.grid-5-3 {
	grid-template-columns: 5fr 3fr;
}

.grid-5-4 {
	grid-template-columns: 5fr 4fr;
}

.grid-6 {
	grid-template-columns: repeat(6, 1fr);
}

@media screen and (min-width: 769px) {
	.pc-hide {
	  	display: none !important;
	}
}

@media screen and (max-width: 768px) {
	.m-justify-items-center {
	  	justify-items: center;
	}
  
	.mobile-hide {
	  	display: none !important;
	}
  
	.m-grid-1 {
	  	grid-template-columns: 1fr;
	}
  
	.m-grid-2 {
	  	grid-template-columns: repeat(2, 1fr);
	}
  
	.m-grid-2-1 {
	  	grid-template-columns: 2fr 1fr;
	}
  
	.m-grid-3 {
	  	grid-template-columns: repeat(3, 1fr);
	}
  
	.m-grid-4 {
	  	grid-template-columns: repeat(4, 1fr);
	}
  
	.m-grid-5 {
	  	grid-template-columns: repeat(5, 1fr);
	}
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.grid-justify-left {
	justify-items: start;
}

.grid-justify-center {
	justify-items: center;
}

.grid-justify-right {
	justify-items: end;
}

.no-margin {
	margin: 0;
}

ul {
	padding-left: 1.5rem;
}

ul li {
	list-style-type: '–';
	padding-inline-start: 1ch;
}

.horizontal-scroll {
	overflow-x: auto;
	white-space: nowrap;
}

.horizontal-scroll > * {
	white-space: normal;
}

@media screen and (max-width: 768px) {
	.mobile-horizontal-scroll {
		overflow-x: auto;
		white-space: nowrap;
	}
	.mobile-horizontal-scroll > * {
		white-space: normal;
	}
}
